In [1]:
"""
Python script to scrape Friktion User Data from Bitquery GraphQL API.

"""

import json
import requests
import requests
import traceback
import time

import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from os.path import exists

In [4]:
globalId = "mainnet_income_call_luna"

users = pd.read_csv("luna_call_addresses.csv")

shareprice = pd.read_json(f"../derived_timeseries/{globalId}_sharePricesByGlobalId.json")

shareprice[0]/=1000

In [6]:
res = {}

In [81]:
def calc_amount(addr):
    success = False
    while not success:
        try:
            query = """https://solana-stream-dev-ztbl.ue1-eks-0.prod-czff.zettablock.dev/graphql?query={userTransactions(userAddress:\"%s\"){Hash,Amount,Decimal,InstructionAction,InstructionIndex,InnerIndex,UserAddress,Timestamp,UnixTime,CurrencyName,CurrencyAddress,SenderAddress,SenderTokenMint,ReceiverAddress,UserAction,GlobalID,VaultAuthority,ShareTokenMint,DepositTokenSymbol,DepositTokenCoingeckoId}}"""
            x = pd.DataFrame(json.loads(requests.get(query%addr).content)["userTransactions"])
            success = not x.empty
        except Exception as e:
            print("Failed... sleeping for 5")
            time.sleep(5)
            continue
            
    cutoff = 1651802400

    df = x.loc[x.UnixTime < cutoff].loc[x.GlobalID == globalId]

    df = df.sort_values("UnixTime")

    shareprice["timestamp"] = shareprice[0].astype('int')
    shareprice["sharePrice"] = shareprice[1]

    asimov = pd.merge_asof(df, shareprice, left_on="UnixTime", right_on="timestamp")

    pos = asimov.query("UserAction=='Deposit'")
    pos = (pos.Amount*pos.sharePrice/10**pos.Decimal).sum()

    pos2 = asimov.query("UserAction == 'CancelPendingWithdraw'")
    if pos2.empty:
        pos2 = 0
    else:
        pos2 = (pos2.Amount/10**pos2.Decimal).sum()

    neg = asimov.query("UserAction=='Withdraw'")
    if neg.empty:
        neg = 0
    else:
        neg = (neg.Amount/10**neg.Decimal).sum()

    neg2 = asimov.query("UserAction=='CancelPendingDeposit'")
    if neg2.empty:
        neg2 = 0
    else:
        neg2= (neg2.Amount*neg2.sharePrice/10**neg2.Decimal).sum()

    amount = pos+pos2-neg-neg2
    print(addr, amount)
    res[addr] = amount

In [66]:
for addr in users.userAddress:
    
    calc_amount(addr)
    time.sleep(1)

CQikhhQ9STuD1S3A45DGvUAtCdSs5pw2YwJ8Mk6U9Fs7 195.97417776146025
ETv2idiPjun5RReJNSLBd2RUMcYSBMqjFQxhVpLeDqkm 11.084006874905258
GZYHrKmMPQLrmVGw7PRny7tP9wQZnFCC5vYfuaQiVTdh 4.59754700000002

KeyboardInterrupt:

In [11]:
    addr = "Dnz2w5wxrTRVyPvYZgAuEPBkV5kDFUeCFy1XieCJrBuE"
    query = """https://solana-stream-dev-ztbl.ue1-eks-0.prod-czff.zettablock.dev/graphql?query={userTransactions(userAddress:\"%s\"){Hash,Amount,Decimal,InstructionAction,InstructionIndex,InnerIndex,UserAddress,Timestamp,UnixTime,CurrencyName,CurrencyAddress,SenderAddress,SenderTokenMint,ReceiverAddress,UserAction,GlobalID,VaultAuthority,ShareTokenMint,DepositTokenSymbol,DepositTokenCoingeckoId}}"""

    x = pd.DataFrame(json.loads(requests.get(query%addr).content)["userTransactions"])

    cutoff = 165180960000

    df = x.loc[x.UnixTime < cutoff].loc[x.GlobalID == globalId]

    df = df.sort_values("UnixTime")

    shareprice["timestamp"] = shareprice[0].astype('int')
    shareprice["sharePrice"] = shareprice[1]

    asimov = pd.merge_asof(df, shareprice,  left_on="UnixTime", right_on="timestamp", direction='forward')
    asimov = asimov.sort_values("timestamp").drop_duplicates(subset = ['Hash', 'UserAction'], keep='first')
    pos = asimov.query("UserAction=='Deposit'")
    pos = (pos.Amount/pos.sharePrice/10**pos.Decimal).sum()

    pos2 = asimov.query("UserAction == 'CancelPendingWithdrawal'")
    if pos2.empty:
        pos2 = 0
    else:
        pos2 = (pos2.Amount/10**pos2.Decimal).sum()

    neg = asimov.query("UserAction=='Withdraw'")
    if neg.empty:
        neg = 0
    else:
        neg = (neg.Amount/10**neg.Decimal).sum()

    neg2 = asimov.query("UserAction=='CancelPendingDeposit'")
    if neg2.empty:
        neg2 = 0
    else:
        neg2= (neg2.Amount*neg2.sharePrice/10**neg2.Decimal).sum()

    amount = pos+pos2-neg-neg2
    
    res[addr] = amount

In [12]:
amount

0.0

In [7]:
    addr = "7FkVHPNHTJ8Kz361kus3pVBwGEnoKGy3KfJJQ1QfHv7"
    query = """https://solana-stream-dev-ztbl.ue1-eks-0.prod-czff.zettablock.dev/graphql?query={userTransactions(userAddress:\"%s\"){Hash,Amount,Decimal,InstructionAction,InstructionIndex,InnerIndex,UserAddress,Timestamp,UnixTime,CurrencyName,CurrencyAddress,SenderAddress,SenderTokenMint,ReceiverAddress,UserAction,GlobalID,VaultAuthority,ShareTokenMint,DepositTokenSymbol,DepositTokenCoingeckoId}}"""

    x = pd.DataFrame(json.loads(requests.get(query%addr).content)["userTransactions"])

    cutoff = 165180960000

    df = x.loc[x.UnixTime < cutoff].loc[x.GlobalID == globalId]

    df = df.sort_values("UnixTime")

    shareprice["timestamp"] = shareprice[0].astype('int')
    shareprice["sharePrice"] = shareprice[1]

    asimov = pd.merge_asof(df, shareprice,  left_on="UnixTime", right_on="timestamp", direction='forward')
    asimov = asimov.sort_values("timestamp").drop_duplicates(subset = ['Hash', 'UserAction'], keep='first')
    pos = asimov.query("UserAction=='Deposit'")
    pos = (pos.Amount/pos.sharePrice/10**pos.Decimal).sum()

    pos2 = asimov.query("UserAction == 'CancelPendingWithdrawal'")
    if pos2.empty:
        pos2 = 0
    else:
        pos2 = (pos2.Amount/10**pos2.Decimal).sum()

    neg = asimov.query("UserAction=='Withdraw'")
    if neg.empty:
        neg = 0
    else:
        neg = (neg.Amount/10**neg.Decimal).sum()

    neg2 = asimov.query("UserAction=='CancelPendingDeposit'")
    if neg2.empty:
        neg2 = 0
    else:
        neg2= (neg2.Amount*neg2.sharePrice/10**neg2.Decimal).sum()

    amount = pos+pos2-neg-neg2
    
    res[addr] = amount

In [8]:
df

,Amount,CurrencyAddress,CurrencyName,Decimal,DepositTokenCoingeckoId,DepositTokenSymbol,GlobalID,Hash,InnerIndex,InstructionAction,InstructionIndex,ReceiverAddress,SenderAddress,SenderTokenMint,ShareTokenMint,Timestamp,UnixTime,UserAction,UserAddress,VaultAuthority
5,1939436768,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,,6,terra-luna,LUNA,mainnet_income_call_luna,4tx4LGjjgCUENEQXc2viNR3VMitLaYw94xp3At2jQQAxcw...,1,Burn,1,,7FkVHPNHTJ8Kz361kus3pVBwGEnoKGy3KfJJQ1QfHv7,2yaGcLcSxNf1tsQn9TFTmgb1DCdfVnDYxEeug7nHNbiH,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-05-11T04:25:16Z,1652243116,Withdraw,7FkVHPNHTJ8Kz361kus3pVBwGEnoKGy3KfJJQ1QfHv7,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X

In [9]:
2000/64000*13000

406.25

In [16]:
df.Amount/1e6*13000/64000

2    13.403039
Name: Amount, dtype: float64

In [8]:
asimov

,Amount,CurrencyAddress,CurrencyName,Decimal,DepositTokenCoingeckoId,DepositTokenSymbol,GlobalID,Hash,InnerIndex,InstructionAction,...,ShareTokenMint,Timestamp,UnixTime,UserAction,UserAddress,VaultAuthority,0,1,timestamp,sharePrice
0,50100000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,2mN2fdTXoQb486JJbrifceyjW4GxnpuKQY7PZCBnbDPR9D...,1,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-13T18:40:01Z,1642099201,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.642151e+09,1.026916,1.642151e+09,1.026916
1,10000000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,3sLTVbfcpXQM3VRPhetwMKzLcqcVnA7tXGPMq2QFajTwBW...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-19T17:05:49Z,1642611949,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.642755e+09,1.037400,1.642755e+09,1.037400
2,5000000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,63VibYReaG4RmKDwGbk5GTjk3BwYRtsDNbfx2TU5m6Mutk...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-25T20:15:40Z,1643141740,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.643358e+09,1.048595,1.643358e+09,1.048595
3,5000000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,3tyVoBkLNP7zPnRkwSzXpFLEtbZka4uaRHsFfdo1THAPjT...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-28T02:49:31Z,1643338171,CancelPendingDeposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.643358e+09,1.048595,1.643358e+09,1.048595
4,8000000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,2pR8kuJ3RbZrvQdLoNu4SRT3HGRWReouEbE9Wf2WucsM7m...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-28T02:50:19Z,1643338219,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.643358e+09,1.048595,1.643358e+09,1.048595
5,25095781,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,5tuCAPf3LpMpW2P3ordw31s3V8Ev1ymnNZx342sSMMMThW...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-28T13:35:36Z,1643376936,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.643963e+09,1.053713,1.643963e+09,1.053713
6,25095781,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,2UBj4RpnfCEsLYHzfjEoKFDpHmL4aops9ih48vSWypmAPX...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-01-28T18:32:35Z,1643394755,CancelPendingDeposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.643963e+09,1.053713,1.643963e+09,1.053713
7,25095781,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,os2wF6ELbNSHNTPHQUKRhx2Q6L78tE9hYF82aUsJbfJfYZ...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-02-04T03:46:25Z,1643946385,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.643963e+09,1.053713,1.643963e+09,1.053713
8,57000000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,2ryc3jRAEJY2WV7NAoixqeM12F9SJ6QEACXWBf2LK9tXt9...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-02-10T23:53:02Z,1644537182,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.644547e+09,1.056219,1.644547e+09,1.056219
9,2000000,F6v4wfAdJB8D8p77bMXZgYt8TDKsYxLYxH5AFhUkYx9W,LUNA (Wormhole),6,terra-luna,LUNA,mainnet_income_call_luna,3frJbwUTwje7GyMdD8Tf81KTGbWAv6stcjpnnNtfcDsUi6...,0,Transfer,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-02-17T21:32:07Z,1645133527,Deposit,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,1.645152e+09,1.068417,1.645152e+09,1.068417
10,145710141,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,,6,terra-luna,LUNA,mainnet_income_call_luna,3pSgTS7goWdcLhbbQy8RJp33vFf7VAYr59t9vyhbTqRDkA...,1,Burn,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-05-11T15:39:02Z,1652283542,Withdraw,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,NaN,NaN,NaN,NaN
11,1417044,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,,6,terra-luna,LUNA,mainnet_income_call_luna,4b4jv2JgQ9kQmoWUBWGKLWdoPrZpQ9K6X9q5u4nz5Tk76v...,0,Burn,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-05-11T15:41:12Z,1652283672,Withdraw,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,NaN,NaN,NaN,NaN
12,147127185,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,,6,terra-luna,LUNA,mainnet_income_call_luna,4NH3SoVpLAxEbBmdP15KEvTSfaW1kqZLqZYZu3rjrE4NKv...,0,MintTo,...,95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE,2022-05-16T21:32:18Z,1652736738,CancelPendingWithdrawal,6VbqEJ2VzbpnTpvSLwmk8yv87ZVb7Yjng2CqEFivXdw2,5oV1Yf8q1oQgPYuHjepjmKFuaG2Wng9dzTqbSWhU5W2X,NaN,NaN,NaN,NaN

In [10]:
amount

142.60824383713305

In [9]:
asimov.sort_values("timestamp").drop_duplicates(subset = ['Hash', 'UserAction'], keep='first')[["timestamp", "UnixTime"]].fillna(0).astype('int')

     timestamp    UnixTime
0   1642150586  1642099201
1   1642754858  1642611949
2   1643358050  1643141740
3   1643358050  1643338171
4   1643358050  1643338219
5   1643963484  1643376936
6   1643963484  1643394755
7   1643963484  1643946385
8   1644546713  1644537182
9   1645152424  1645133527
10           0  1652283542
11           0  1652283672
12           0  1652736738

In [44]:
asimov.columns

Index([                        0,                         1,
                     'timestamp',              'sharePrice',
                        'Amount',         'CurrencyAddress',
                  'CurrencyName',                 'Decimal',
       'DepositTokenCoingeckoId',      'DepositTokenSymbol',
                      'GlobalID',                    'Hash',
                    'InnerIndex',       'InstructionAction',
              'InstructionIndex',         'ReceiverAddress',
                 'SenderAddress',         'SenderTokenMint',
                'ShareTokenMint',               'Timestamp',
                      'UnixTime',              'UserAction',
                   'UserAddress',          'VaultAuthority'],
      dtype='object')

In [20]:
amount

-208.58390497893265

In [21]:
df.Amount*

SyntaxError: invalid syntax (3961119424.py, line 1)

In [25]:
pos = asimov.query("UserAction=='Deposit'")

In [26]:
(pos.Amount/pos.sharePrice.fillna(0)/10**pos.Decimal).sum()

128.45520002106738

In [28]:
10**6

1000000

In [30]:
pos.Amount/1000000

0    210.209253
1      0.092372
2     66.613782
4     40.000000
5     23.000000
Name: Amount, dtype: float64

In [31]:
pos.sharePrice

0         NaN
1         NaN
2    1.000000
4    1.018735
5    1.018735
Name: sharePrice, dtype: float64

In [17]:
pos2

61.348739

In [15]:
neg

398.38784400000003

In [9]:
neg2

0